.form {
  display: flex;
  flex-direction: column;
  /* max-width: 20rem; */
  text-align: center;
}
.container {
  background-color: aqua;
  width: 50vw;
  height: 50vh;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
}
.form input {
  width: 20rem;
  height: 20px;
}
.form button {
  margin-top: 10px;
}
